<nav
  class="d-flex flex-row align-items-center justify-content-between mb-2 p-1 w-100"
>
  <a
    href="/"
    class="link-dark link-offset-2 link-underline link-underline-opacity-0"
    ><h1 class="fs-3 fw-bold mt-4 mb-4">The New York Times</h1></a
  >
  <a href="/new/article">Add new article</a>
</nav>
