<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body
    class="container-fluid d-flex flex-column justify-content-start min-vh-100 bg-light text-black"
    style="max-width: 900px"
  >
    <!-- Header section -->
    <header class="d-flex flex-row align-items-center border-bottom mb-3">
      <nav
        class="d-flex flex-row align-items-center justify-content-between mb-2 p-1 w-100"
      >
        <a
          href="/"
          class="link-dark link-offset-2 link-underline link-underline-opacity-0"
          ><h1 class="fs-3 fw-bold mt-4 mb-4">The New York Times</h1></a
        >
        <a href="/">Back</a>
      </nav>
    </header>
    <!-- Main content section -->
    <main class="container flex-grow-1">
      <p>Oops! Page not found.</p>
    </main>
    <!-- Footer section -->
    <%- include('./partials/footer') %>
  </body>
</html>
